/* Styles for extension options menu popup */

body {
  min-width: 225px;
}

.div-button {
  text-align: center;
  margin-bottom: 10px;
}

button {
  font-size: 16px;
  background-color: lightseagreen;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.div-select {
  margin-left: 10px;
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: 16px;
}

select {
  min-width: 75px;
  font-size: 16px;
  padding: 5px;
}
